<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.theymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>

<body>

欢迎 <span th:text="${name}"></span>加入G4大家庭，您的入职信息如下：
<table border="0.1">
    <tr>
        <td>姓名</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>职位</td>
        <td th:text="${posName}"></td>
    </tr>
    <tr>
        <td>职称</td>
        <td th:text="${joblevelName}"></td>
    </tr>
    <tr>
        <td>部门</td>
        <td th:text="${departmentName}"></td>
    </tr>
</table>

<p>
    欢迎加入我们的团队！
    我们非常高兴您决定加入我们的团队，我们相信您将成为我们团队中不可或缺的一员。在这里，您将有机会学习和成长，与其他优秀的同事一起工作，共同创造更加卓越的业绩。
    作为新员工，我们期望您能够充分发挥自己的能力和潜力，积极地融入团队，参与工作并贡献自己的智慧。我们也会为您提供必要的培训和支持，帮助您更快地适应新的工作环境。
    在这个团队中，我们注重团队合作和沟通，期望您能够与同事们建立良好的工作关系，保持有效的沟通，共同解决问题和完成工作任务。
    最后，我们期望您能够在这个团队中发挥您的才华和能力，成为我们的未来之星。我们也会尽力为您的职业发展和个人成长提供支持和帮助。
    再次欢迎您的加入
</p>

</body>

</html>
